<div class="row">
  <div class="col-2">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['dashboard']">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['list-upcoming']">Upcoming Holidays</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['entry']">Enter a New Recipient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['list-past']">Past Holidays</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
